.btn {
  padding: 0 !important;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 6px;
  transition: all 0.2s;
  cursor: pointer;

  & > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
