.main {
  display: flex;
  align-items: center;
  .label {
    &::after {
      content: ':';
      position: relative;
      margin-block: 0;
      margin-inline-start: 2px;
      margin-inline-end: 8px;
    }
  }
}
